############################################################################
# VCC AUX VOLTAGE
############################################################################
CONFIG VCCAUX=3.3; # Valid values are 2.5 and 3.3

NET "CLOCK_50" TNM_NET = "CLOCK_50";
TIMESPEC TS_sys_clk_i = PERIOD "sys_clk_i" 20 ns HIGH 50 %;
NET "CLOCK_50" 			LOC = P55	| IOSTANDARD = LVCMOS33 ;

NET "LED" 												 LOC = P11 	| IOSTANDARD = LVTTL;

#NET "kbd_clk" 		LOC = P99 	| IOSTANDARD = LVTTL;
#NET "kbd_data" 		LOC = P98 	| IOSTANDARD = LVTTL;

#NET "tape_in" LOC="P11" | IOSTANDARD = LVCMOS33;
#NET "tape_out" LOC="M10" | IOSTANDARD = LVCMOS33;

NET "VGA_R<2>" 		LOC = P81 	| IOSTANDARD = LVTTL;
NET "VGA_R<1>" 		LOC = P80 	| IOSTANDARD = LVTTL;
NET "VGA_R<0>" 		LOC = P79 	| IOSTANDARD = LVTTL;
NET "VGA_G<2>" 		LOC = P84 	| IOSTANDARD = LVTTL;
NET "VGA_G<1>" 		LOC = P83 	| IOSTANDARD = LVTTL;
NET "VGA_G<0>" 		LOC = P82 	| IOSTANDARD = LVTTL;
NET "VGA_B<2>" 		LOC = P93 	| IOSTANDARD = LVTTL;
NET "VGA_B<1>" 		LOC = P92 	| IOSTANDARD = LVTTL;
NET "VGA_B<0>" 		LOC = P88 	| IOSTANDARD = LVTTL;
NET "VGA_HS" 		LOC = P87 	| IOSTANDARD = LVTTL;
NET "VGA_VS" 		LOC = P85 	| IOSTANDARD = LVTTL;

NET "SPI_DI" LOC="P48" | IOSTANDARD = LVCMOS33;
NET "SPI_SCK" LOC="P56" | IOSTANDARD = LVCMOS33;

NET "SPI_DO" LOC="P58" | IOSTANDARD = LVCMOS33;
NET "SPI_SS2" LOC="P47" | IOSTANDARD = LVCMOS33;

#NET "SPI_SCK" LOC="P45" | IOSTANDARD = LVCMOS33;

NET "PS2C" 		LOC = P99 	| IOSTANDARD = LVTTL;
NET "PS2D" 		LOC = P98 	| IOSTANDARD = LVTTL;

#NET "PS2COUT" 		LOC = P14 	| IOSTANDARD = LVTTL;
#NET "PS2DOUT" 		LOC = P12 	| IOSTANDARD = LVTTL;

NET "PS2COUT" 		LOC = P41 	| IOSTANDARD = LVTTL;
NET "PS2DOUT" 		LOC = P40 	| IOSTANDARD = LVTTL;


NET "SPI_SS3" LOC="P44" | IOSTANDARD = LVCMOS33;
NET "SPI_SS4" LOC="P45" | IOSTANDARD = LVCMOS33;
#NET "SPI_SS4" LOC="P48" | IOSTANDARD = LVCMOS33;
NET "CONF_DATA0" LOC="P51" | IOSTANDARD = LVCMOS33;

NET "AUDIO_L" 		LOC = P10 	| IOSTANDARD = LVTTL;
NET "AUDIO_R" 	LOC = P9 	| IOSTANDARD = LVTTL;

NET "SRAM_ADDR<0>"  LOC="P141" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<1>"  LOC="P139" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<2>"  LOC="P137" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<3>"  LOC="P134" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<4>"  LOC="P133" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<5>"  LOC="P120" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<6>"  LOC="P118" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<7>"  LOC="P116" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<8>"  LOC="P114" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<9>"  LOC="P112"  | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<10>" LOC="P104" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<11>" LOC="P102" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<12>" LOC="P101" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<13>" LOC="P100" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<14>" LOC="P111" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<15>" LOC="P131" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<16>" LOC="P138" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<17>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "SRAM_ADDR<18>" LOC="P142" | IOSTANDARD = LVCMOS33;
#NET "SRAM_ADDR<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
#NET "SRAM_ADDR<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "SRAM_DQ<0>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<1>" LOC="P127" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<2>" LOC="P124" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<3>" LOC="P123" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<4>" LOC="P115" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<5>" LOC="P117" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<6>" LOC="P119" | IOSTANDARD = LVCMOS33;
NET "SRAM_DQ<7>" LOC="P126" | IOSTANDARD = LVCMOS33;

NET SRAM_WE_N  LOC="P121" | IOSTANDARD=LVCMOS33 | SLEW=FAST;

#NET "SD_cs" 		LOC = P59 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
#NET "SD_datain" 	LOC = P74 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
#NET "SD_dataout" 	LOC = P78 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
#NET "SD_clk" 		LOC = P75 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

# pin reflections for SD card
# Hardware - SD_dataout would be an input normally
NET "SD_cs" 		LOC = P59 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SD_datain" 	LOC = P74 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SD_dataout" 	LOC = P78 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SD_clk" 		LOC = P75 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

# MiST - SD_dataout1 is an input
NET "SD_cs1" 		LOC = P15 	| IOSTANDARD=LVCMOS33;
NET "SD_datain1" 	LOC = P23 	| IOSTANDARD=LVCMOS33;
NET "SD_dataout1" 	LOC = P27 	| IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET "SD_clk1" 		LOC = P24 	| IOSTANDARD=LVCMOS33;


#NET "wsbd" LOC="P57" | IOSTANDARD = LVCMOS33;
#NET "dabd" LOC="P46" | IOSTANDARD = LVCMOS33;
#NET "clkbd" LOC="P50" | IOSTANDARD = LVCMOS33;
#NET "midi" LOC="P43" | IOSTANDARD = LVCMOS33;

#NET "spare" LOC="P14" | IOSTANDARD = LVCMOS33;
#NET "spare" LOC="P12" | IOSTANDARD = LVCMOS33;

#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "xxx" LOC="" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JFIRE2" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JRT" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JLT" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JDN" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JUP" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="JFIRE1" | IOSTANDARD = LVCMOS33;


#set_property -dict {PACKAGE_PIN V8 IOSTANDARD LVTTL} [get_ports mist_miso]
#set_property -dict {PACKAGE_PIN V7 IOSTANDARD LVTTL} [get_ports mist_mosi]
#set_property -dict {PACKAGE_PIN W7 IOSTANDARD LVTTL} [get_ports mist_sck]
#set_property -dict {PACKAGE_PIN W9 IOSTANDARD LVTTL} [get_ports mist_confdata0]
#set_property -dict {PACKAGE_PIN W5 IOSTANDARD LVTTL} [get_ports mist_ss2]
#set_property -dict {PACKAGE_PIN W6 IOSTANDARD LVTTL} [get_ports mist_ss3]
#set_property -dict {PACKAGE_PIN W4 IOSTANDARD LVTTL} [get_ports mist_ss4]

#NET "wsbd" LOC="P40" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P35" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P30" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P27" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P24" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P22" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P16" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P15" | IOSTANDARD = LVCMOS33;

#NET "wsbd" LOC="P41" | IOSTANDARD = LVCMOS33;
#NET "jf3" LOC="JF3" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P67" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P34" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P32" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P29" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P26" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P28" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P21" | IOSTANDARD = LVCMOS33;
#NET "wsbd" LOC="P17" | IOSTANDARD = LVCMOS33;

NET "SPI_SCK" CLOCK_DEDICATED_ROUTE = FALSE;

NET "JUP" 		LOC = P1 	| IOSTANDARD = LVCMOS33 |PULLUP;
NET "JDN" 		LOC = P5 	| IOSTANDARD = LVCMOS33 |PULLUP;
NET "JLT" 		LOC = P6 	| IOSTANDARD = LVCMOS33 |PULLUP;
NET "JRT" 		LOC = P7 	| IOSTANDARD = LVCMOS33 |PULLUP;
NET "JF1" 		LOC = P2 	| IOSTANDARD = LVCMOS33 |PULLUP;
NET "JSEL" 		LOC = P39 	| IOSTANDARD = LVCMOS33 |DRIVE=24 |SLEW = SLOW;

#set_property -dict {PACKAGE_PIN V8 IOSTANDARD LVTTL} [get_ports mist_miso]
#set_property -dict {PACKAGE_PIN V7 IOSTANDARD LVTTL} [get_ports mist_mosi]
#set_property -dict {PACKAGE_PIN W7 IOSTANDARD LVTTL} [get_ports mist_sck]
#set_property -dict {PACKAGE_PIN W9 IOSTANDARD LVTTL} [get_ports mist_confdata0]
#set_property -dict {PACKAGE_PIN W5 IOSTANDARD LVTTL} [get_ports mist_ss2]
#set_property -dict {PACKAGE_PIN W6 IOSTANDARD LVTTL} [get_ports mist_ss3]
#set_property -dict {PACKAGE_PIN W4 IOSTANDARD LVTTL} [get_ports mist_ss4]


#;#define GPIO_RP2U_XLOAD       26 // AA4
#;#define GPIO_RP2U_XSCK        27 // AB5
#;#define GPIO_RP2U_XDATA       28 // AA6


#set_property ALLOW_COMBINATORIAL_LOOPS TRUE [get_nets pong_inst/user_io/SPI_MISO_i_13_0]
#set_property CLOCK_DEDICATED_ROUTE FALSE [get_nets mist_sck_IBUF]

#16  v8_miso \   uart0 tx, SPI0RX
#17  w9_mosi |-- sdcard high level / uart0 rx, SPI0CSN
#18  w7_sck  |   SPI0SCK
#19  v7_cs   /   SPI0TX




